---
---

@import "{{ site.theme }}";
#header_wrap {
  background: #BC6060;
  background: -moz-linear-gradient(top, #A52A2A, #BC6060);
  background: -webkit-linear-gradient(top, #A52A2A, #BC6060);
  background: -ms-linear-gradient(top, #A52A2A, #BC6060);
  background: -o-linear-gradient(top, #A52A2A, #BC6060);
  background: linear-gradient(to top, #A52A2A, #BC6060);
}

th {
   background: #A52A2A
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
